html {
  height: 100%;
  background-image: radial-gradient(circle at 50% 150%, rgba(255,184,78,1) 8%, rgba(0,192,255,1) 100%); 
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6vh;
}

.projectList {
  padding: 10vh 2vw;
}

.projectDetail {
  height: 25vh;
}

.featureList {
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
}

.featureList::-webkit-scrollbar {
  display: none;
}

.feature {
  white-space: normal;
  margin: 1vh;
  height: 23vh;
  width: 17vh;
  overflow-wrap: break-word;
  display: inline-flex;
}

.featureContainer {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.featureContainer > div{
  margin: 10px;
}

div.project {
  float: left;
  width: 25vh;
  height: 100%;
  text-align: center;
  margin-right: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectTitle {
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
  color: #f8f8f8;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .04em #f8f8f8;
  margin-bottom: .5vh;
  cursor: pointer;
}

.addProject {
  width: fit-content;
  margin-top: 9vh;
  margin-left: 3vh;
  font-size: 2em;
  color: #f8f8f8;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .025em #f8f8f8;
  cursor: pointer;
}

.featureCounter {
  position: relative;
  font-style: normal;
  font-size: 1em;
  color: #f8f8f8;
}

.addFeature {
  font-style: normal;
  font-size: 1.1em;
  color: #f8f8f8;
  cursor: pointer;
}

.overlayContainer {
  /* to get overlay to display above element with opacity lower than 1 */
  z-index: 1;
  position: relative;
}

.overlayContainer > div{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(32, 32, 32, 0.3);
}

div.overlay {
  height: 80vh;
  width: 60vw;
  background-color: #f8f8f8;
  margin: 10vh 20vw;
  border-radius: 15px;
  position: relative;
}

.closeBtn {
  cursor: pointer;
  font-size: 2em;
  text-align: center;
  color: #37bfd9;
}

.overlay > div.projectTitle {
  color: #37bfd9;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .04em #37bfd9;
}

form {
  position: absolute;
  width: 100%;
  bottom: 1vh;
  margin: auto;
}

input[type='text'] {
  width: 96%;
  padding: .3% 2%;
  margin: auto;
  border-width: 0;
  border-bottom: 2px solid #64bdba;
  background-color: transparent;
  font-size: 1.5em;
  color: #64bdba;
}

input[type='text']:focus {
  outline-width: 0;
}

input[type='submit'] {
  display: block;
  width: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.1em;
  color: #74bcaf;
}

input[type='submit']:focus {
  outline-width: 0;
}

.overlayHr {
  border: 0;
  border-bottom: 2px solid #64bdba;
}

.done {
  opacity: .5;
}